.idea
.idea/*
.idea/libraries/*
.idea/inspectionProfiles/*
.idea/copyright/*
*.iws
*.ipr
*.iml
scripting/target/
struts2/target/
swing/target/
target/
auth/target/
beans/target/
cache/target/
constraints/target/
executor/target/
http/target/
jini/importer/target/
jini/javaspaces/qi4jtemp/
jini/javaspaces/target/
jini/lookup/qi4jtemp/
jini/lookup/target/
jini/transaction/qi4jtemp/
jini/transaction/target/
ldap/client/target/
ldap/server/target/
locking/target/
logging/target/
observations/target/
rdf/application.rdfn3
rdf/application.rdfxml
rdf/rdf-stores/
rdf/rdf/
rdf/target/
registry/target/
rmi/target/
scripting/beanshell/target/
scripting/common/target/
scripting/groovy/target/
scripting/javascript/target/
scripting/jruby/target/
spaces/api/target/
spaces/bootstrap/target/
spaces/javaspaces/target/
spaces/tests/target/
spring/target/
spring/.project
spring/.classpath
spring/.settings/
struts2/codebehind/target/
struts2/example/target/
struts2/plugin/target/
swing/entity-viewer/target/
swing/envisage/target/
thread/target/
transaction/target/
uid/target/
validation/target/

