body {
    font-family: verdana, sans-serif;
    margin: 0
}

h1, h2, h3, h4, h5, h6, h7 {
    display: block;
    margin: 0;
    border: thin dotted black
}

div {
    margin: 10px;
    border: thin dashed lightgray
}

.application {
    border: thin solid black
}

.layer {
    background: floralwhite
}

.module {
    background: lightyellow
}

.public {
    color: green
}

.private h4 {
    color: indigo
}

.composite {
    background: azure;
    margin: 0px
}

div.methods {
    border: none;
    margin: 0px
}

.method div {
    margin: 0;
    font-family: times
}

h6 {
    font-family: courier
}

h7 {
    font-style: italic
}

.constraints div {
    margin-bottom: 10px
}

.constraint {
    background: white
}

.concerns {
    margin-bottom: 10px
}

.concern {
    background: white
}

.sideeffects div {
    margin-bottom: 10px
}

.sideeffect {
    background: white
}
