<%#
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 *
-%>

dependencies {
  compile project( ":bootstrap" )
  compile project( ":model" )
<% if( polygene.applicationtype === 'Rest API' ) {
%>  compile project( ":rest" )<% } %>
<% if( hasFeature( 'security' ) ) {
%>  compile "org.apache.polygene.libraries:org.apache.polygene.library.shiro-web:$polygeneVersion"
<% }
%>  compile "org.apache.polygene.core:org.apache.polygene.core.spi:$polygeneVersion"
  compile "org.apache.polygene.core:org.apache.polygene.core.bootstrap:$polygeneVersion"
<% if( polygene.applicationtype === 'Rest API' ) {
%>  compile "org.restlet.jee:org.restlet:2.3.4"
  compile "javax.servlet:servlet-api:2.5"<% } %>

  runtime "org.apache.polygene.core:org.apache.polygene.core.runtime:$polygeneVersion"
  runtime "org.restlet.jee:org.restlet.ext.servlet:2.3.4"
  runtime "org.apache.johnzon:johnzon-core:1.1.0"
  runtime "org.apache.johnzon:johnzon-mapper:1.1.0"
  runtime "org.apache.geronimo.specs:geronimo-json_1.1_spec:1.0"
  runtime "ch.qos.logback:logback-classic:1.2.3"
  runtime "ch.qos.logback:logback-core:1.2.3"

  testImplementation "org.apache.polygene.core:org.apache.polygene.core.testsupport:$polygeneVersion"
}
