<%#
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 *
-%>
package <%= packageName %>.model.<%= polygene.current.name %>;

import org.apache.polygene.api.injection.scope.This;
import org.apache.polygene.api.mixin.Mixins;
import org.apache.polygene.api.property.Property;
<%
for( var prop in polygene.current.imported ) {
    if( !prop.startsWith( "java.lang" )) {
        %><%- "import " + prop + ";"; %><%
    }
} %>

@Mixins( { <%= polygene.current.clazz.name %>.Mixin.class } )
public interface <%= polygene.current.clazz.name %>
{
    interface State
    {
<% for( var idx in polygene.current.state ) { %>
        <%- polygene.current.state[idx]; %>
<% } %>
    }

    class Mixin
        implements <%= polygene.current.clazz.name %>
    {
        @This
        private State state;        // Reference to private State instance
    }
}
